{% extends 'ranking/base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Ranking" "/" %}
    {% breadcrumb ranking "ranking:detail" ranking.slug %}
{% endblock%}

{% block content %}
    <h1>{{ ranking }}</h1>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a href="{{ ranking.get_absolute_url }}" class="nav-link active" role="tab" >Ranking</a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="{% url 'institutions:ranking-list' ranking.slug %}" class="nav-link" role="tab">Instytucje</a>
        </li>
    </ul>

    {{ object.description | safe }}

    {% with object.group_set as groups %}
        {% if groups.all %}
            <div id="groups" class="my-3" role="tablist">
            {% for group in groups.all %}
                  <div class="card">
                    <div class="card-header" role="tab" id="group_{{ group.pk }}">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" href="#group_{{ group.pk }}_content" aria-controls="group_{{ group.pk }}_content">
                          {{ group }}
                        </a>
                      </h5>
                    </div>

                    <div id="group_{{ group.pk }}_content" class="collapse" role="tabpanel" aria-labelledby="group_{{ group.pk }}" data-parent="#groups">
                      <div class="card-body">
                          {{ group.description | safe }}
                      </div>
                    </div>
                  </div>
            {% endfor %}
            </div>

        {% else %}
            <p>
                No groups found
            </p>
        {% endif %}
    {% endwith %}

{% endblock %}
