{% extends "base-exploration.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Explorations" "/" %}
    {% breadcrumb request.exploration "exploration:detail" request.exploration.slug %}
    {% breadcrumb "Institutions" "institutions:exploration-list" request.exploration.slug %}
    {% breadcrumb object "institutions:exploration-detail" exploration.slug object.slug %}
{% endblock%}

{% block content %}
    {% if user.is_authenticated %}
      <a href="{% url "answers:save_answer" request.exploration.slug object.slug %}" class="btn btn-primary float-right">
          <i class="fa fa-pencil" aria-hidden="true"></i> Udziel odpowiedzi
      </a>
    {% endif %}

    <h1>{{ object }}</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="rwp-card rwp-card--primary">
                <div class="rwp-card__content">
                    <div class="rwp-stats rwp-stats--secondary rwp-stats--reversed">
                        <div class="rwp-stats__content">
                            <div class="rwp-stats__title">Ocena</div>
                            <div class="rwp-stats__count">
                              {% if institution_rate %}
                                {{ institution_rate }}
                              {% else %}
                                Brak informacji
                              {% endif %}
                            </div>
                        </div>
                        <div class="rwp-stats__icon"><i class="fa fa-balance-scale" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <span class="float-right badge badge-secondary"></span>
    {% for group in table_data %}
        <div class="rwp-card">

            <div class="rwp-card__head">
                <div class="rwp-card__header">
                    {{ group.group }}
                </div>
                <div class="rwp-card__addon">
                    <span class="float-right badge badge-secondary">
                      {% if group.rate %}
                        {{ group.rate }}
                      {% else %}
                        Brak informacji
                      {% endif %}
                    </span>
                </div>
            </div>
            <div class="rwp-card__content">
                <div id="group_{{ group.group.slug }}">
                <div class="row">
{#                    <div class="col-md-3">#}
{#                        <div style="position: relative; padding-bottom: 100%">#}
{#                            <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: purple">#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="col-md-{# 9 #}12">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="col-md-6">
                                        Pytanie
                                    </th>
                                    <th class="col-md-3">
                                        Odpowiedź
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for question in group.questions %}
                                    <tr>
                                        <td>
                                            {{ question.question }}
                                        </td>
                                        {% if question.result %}
                                            <td>
                                                {{ question.result.value }}
                                            </td>
                                        {% else %}
                                            <td>
                                                Brak informacji
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>

        </div>
    {% endfor %}

    {{ object.description | safe }}

    {% with other_rathings=other_explorations.all %}
        {% if other_explorations %}
            <h2>Ta instytucja także brała udział w:</h2>
            <ul>
            {% for exploration in other_explorations %}
                <li>
                    <a href="{% url 'institutions:exploration-detail' exploration.slug object.slug %}">{{ exploration }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
