{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Ranking" "/" %}
    {% breadcrumb ranking "rankings:detail" ranking.slug %}
    {% breadcrumb "Institutions" "institutions:ranking-list" ranking.slug %}
    {% breadcrumb object "institutions:ranking-detail" ranking.slug object.slug %}
{% endblock%}

{% block content %}
    <h1>{{ object }}</h1>

    <a href="{% url "answers:save_answer" ranking.slug object.slug %}" class="btn btn-primary btn-block">
        Give answers
    </a>
    {{ object.description | safe }}

    {% if other_rankings.all %}
        <h2>The institution was also included in:</h2>
        <ul>
        {% for ranking in other_rankings.all %}
            <li>
                <a href="{% url 'institutions:ranking-detail' ranking.slug object.slug %}">{{ ranking }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
