{% extends "base.html" %}

{% load bootstrap_pagination %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
    {% breadcrumb "Ranking" "/" %}
    {% breadcrumb ranking "rankings:detail" ranking.slug %}
    {% breadcrumb "Institutions" "institutions:ranking-list" ranking.slug %}
{% endblock%}

{% block content %}

    <h1>{{ ranking }}</h1>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a href="{{ ranking.get_absolute_url }}" class="nav-link" role="tab" >Ranking</a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="{% url 'institutions:ranking-list' ranking.slug %}" class="nav-link active" role="tab">Instytucje</a>
        </li>
    </ul>

    <h2>Institutions</h2>
    <div class="row">
        <div class="col-md-3">
            {% crispy filter.form %}
        </div>
        <div class="col-md-9">
            {% if object_list %}
                <ul>
                {% for object in object_list %}
                    <li>
                        <a href="{% url 'institutions:ranking-detail' ranking.slug object.slug %}">{{ object }}</a>
                    </li>
                {% endfor %}
                </ul>
                {% bootstrap_paginate page_obj %}
            {% else %}
                No result found
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ filter.form.media }}
{% endblock javascript %}
