{% extends "base-ranking.html" %}

{% load crispy_forms_tags %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Ranking" "/" %}
    {% breadcrumb request.ranking "rankings:detail" request.ranking.slug %}
    {% breadcrumb "Institutions" "institutions:ranking-list" request.ranking.slug %}
    {% breadcrumb institution "institutions:ranking-detail" request.ranking.slug institution.slug %}
    {% breadcrumb "Save answer" "answers:save_answer" request.ranking.slug institution.slug %}
{% endblock%}

{% block content %}

    <h2>{{ institution }}</h2>

    <h3>Save answers</h3>

    <form method="post">

        {% csrf_token %}

{#    {{ formset.management_form.as_table }}#}
        {% crispy formset helper %}

    </form>

{% endblock %}
