{% extends "base-exploration.html" %}

{% load crispy_forms_tags %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Explorations" "/" %}
    {% breadcrumb request.exploration "exploration:detail" request.exploration.slug %}
    {% breadcrumb "Institutions" "institutions:exploration-list" request.exploration.slug %}
    {% breadcrumb institution "institutions:exploration-detail" request.exploration.slug institution.slug %}
    {% breadcrumb "Save answer" "answers:save_answer" request.exploration.slug institution.slug %}
{% endblock%}

{% block content %}

    <h2>{{ institution }}</h2>

    <h3>Save answers</h3>

    <form method="post">

        {% csrf_token %}
        {{ formset.management_form.as_table }}
        {% crispy formset helper %}

    </form>

{% endblock %}
