{% extends "base-settings.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block card_icon %}
    <i class="fa fa-user" aria-hidden="true"></i>
{% endblock %}

{% block card_title %}
    Users
{% endblock %}

{% block card_content %}


    <h1>{{ object.username }}</h1>
    {% if object.name %}
        <p>{{ object.name }}</p>
    {% endif %}

    {% if object == request.user %}
        <!-- Action buttons -->
        <div class="row">

            <div class="col-sm-12">
                <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    My Info
                </a>
                <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> E-Mail
                </a>
                <!-- Your Stuff: Custom user template urls -->
            </div>

        </div>
        <!-- End Action buttons -->
    {% endif %}

{% endblock card_content %}

