{% extends "base-exploration.html" %}

{% load bootstrap_pagination %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Explorations" "/" %}
    {% breadcrumb request.exploration "exploration:detail" request.exploration.slug %}
    {% breadcrumb "Articles" "article:article-list" request.exploration.slug %}
{% endblock%}

{% block content %}

    <h1>Artykuły</h1>

    {% if object_list.all %}
        <div class="row">
            {% for object in object_list %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <a href="{{ object.get_absolute_url }}" class="rwp-card">
                        <div class="rwp-card__head">
                            <div class="rwp-card__header">
                                <div class="rwp-card__title">{{ object }}</div>
                            </div>
                        </div>
                        <div class="rwp-card__content">
                            {{ object.short_description | truncatewords:80 }}
                        </div>
                        <div class="rwp-card__footer">
                            <i class="fa fa-clock-o"></i> Data utworzenia: {{ object.created |date:"d m Y" }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% bootstrap_paginate page_obj %}

    {% else %}
        <p>
            Brak artykułów
        </p>
    {% endif %}

{% endblock %}
