{% extends "base-exploration.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Exploration" "/" %}
    {% breadcrumb request.exploration "exploration:detail" request.exploration.slug %}
    {% breadcrumb "Articles" "articles:exploration-article-list" request.exploration.slug %}
    {% breadcrumb object "raport:exploration-article-detail" request.exploration.slug object.slug %}
{% endblock%}

{% block content %}

    <h1>{{ object }}</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="rwp-card rwp-card--primary">
                <div class="rwp-card__head">
                    <div class="rwp-card__icon">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <div class="rwp-card__header">
                        <div class="rwp-card__title">
                            Content
                        </div>
                    </div>

                </div>
                <div class="rwp-card__content">
                    {{ object.description | safe }}
                </div>
                <div class="rwp-card__footer">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Creation date: {{ object.created |date:"d m Y" }}
                    {% if object.created != object.modified %}
                        <i class="fa fa-clock-o fa-rotate-90" aria-hidden="true"></i> Modified date: {{ object.modified |date:"d m Y" }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>





{% endblock %}
