{% extends "base-exploration.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Exploration" "/" %}
    {% breadcrumb request.exploration "exploration:detail" request.exploration.slug %}
    {% breadcrumb "Groups" "questionnaire:exploration-group-list" request.exploration.slug %}
    {% breadcrumb object "questionnaire:exploration-group-detail" request.exploration.slug object.slug %}
{% endblock%}

{% block content %}


    <h1 class="mb-4">{{ object }}</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="rwp-card rwp-card--primary">
                <div class="rwp-card__head">
                    <div class="rwp-card__icon">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <div class="rwp-card__header">
                        <div class="rwp-card__title">
                            Opis
                        </div>
                    </div>
                </div>
                <div class="rwp-card__content">
                    {{ object.description | safe }}
                </div>
            </div>
            <div class="rwp-card rwp-card--primary">
                <div class="rwp-card__head">
                    <div class="rwp-card__icon">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                    <div class="rwp-card__header">
                        <div class="rwp-card__title">
                            Pytania
                        </div>
                    </div>
                </div>
                <div class="rwp-card__content">
                <ul>
                {% for question in object.question_set.all %}
                    <li>
                      <b>{{ question }}</b>
                      <ul>
                      {% for option in question.textoption_set.all.all %}
                        <li>{{ option }}</li>
                      {% endfor %}
                      </ul>

                    </li>
                {% endfor %}
                </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            {% if institution_group_rate %}
                <div class="rwp-card rwp-card--secondary">
                    <div class="rwp-card__head">
                        <div class="rwp-card__icon">
                            <i class="fa fa-university" aria-hidden="true"></i>
                        </div>
                        <div class="rwp-card__header">
                            <div class="rwp-card__title">
                                Best institutions
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>{{ object }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for rate in institution_group_rate %}
                            <tr>
                                <td>
                                    <a href="{% url 'institutions:exploration-detail' exploration.slug rate.institution.slug %}">
                                        {{ rate.institution }}
                                    </a>
                                </td>
                                <td>
                                    {{ rate }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}
