{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load icons %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>


    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary btn-block mb-5" type="submit">{% trans "Sign In" %}</button>

    </form>

    {% get_providers as socialaccount_providers %}

    <div class="socialaccount_ballot">
        {% with process="login" %}
            {% for provider in socialaccount_providers %}
                {% if provider.id == "openid" %}
                    {% for brand in provider.get_brands %}

                        <a title="{{ brand.name }}"
                           class="btn btn-primary btn-secondary {{ provider.id }} {{ brand.id }}"
                           href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                        >Sign in with {{ brand.name }}</a>

                    {% endfor %}
                {% endif %}

                <a title="{{ provider.name }}" class="btn btn-secondary btn-block {{ provider.id }}"
                   href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                    {% provider_icon provider.id %}
                    Sign in with {{ provider.name }}
                </a>

            {% endfor %}
        {% endwith %}

    </div>
    <div class="mt-3">
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    {% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}
