{% extends "base-exploration.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Exploration" "/" %}
    {% breadcrumb exploration "exploration:detail" exploration.slug %}
{% endblock %}

{% block content %}
    <h1>{{ exploration }}</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="rwp-card rwp-card--primary">
                <div class="rwp-card__head">
                    <div class="rwp-card__icon">
                        <i class="fa fa-bank" aria-hidden="true"></i>
                    </div>
                    <div class="rwp-card__header">
                        <div class="rwp-card__title">Badanie</div>
                        <div class="rwp-card__subtitle">Podstawoe informacje</div>
                    </div>
                </div>
                <div class="rwp-card__content">
                    {{ object.description | safe }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a href="{% url "questionnaire:exploration-group-list" exploration.slug %}"
               class="rwp-card rwp-card--primary">
                <div class="rwp-card__content">
                    <div class="rwp-stats rwp-stats--secondary rwp-stats--reversed">
                        <div class="rwp-stats__content">
                            <div class="rwp-stats__title">Gruoy</div>
                            <div class="rwp-stats__count">{{ stats.num_group }}</div>
                        </div>
                        <div class="rwp-stats__icon"><i class="fa fa-balance-scale"
                                                        aria-hidden="true"></i></div>
                    </div>
                </div>
{#                <div class="rwp-card__footer">#}
{#                    Pozostało <b>0</b> z twojej okolicy#}
{#                </div>#}
            </a>
            <a href="{% url "articles:exploration-article-list" exploration.slug %}"
               class="rwp-card rwp-card--primary">
                <div class="rwp-card__content">
                    <div class="rwp-stats rwp-stats--secondary rwp-stats--reversed">
                        <div class="rwp-stats__content">
                            <div class="rwp-stats__title">Artykuły</div>
                            <div class="rwp-stats__count">{{ stats.num_article }}</div>
                        </div>
                        <div class="rwp-stats__icon"><i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{% url "institutions:exploration-list" exploration.slug %}"
               class="rwp-card rwp-card--primary">
                <div class="rwp-card__content">
                    <div class="rwp-stats rwp-stats--secondary rwp-stats--reversed">
                        <div class="rwp-stats__content">
                            <div class="rwp-stats__title">Instytucje</div>
                            <div class="rwp-stats__count">{{ stats.num_institution }}</div>
                        </div>
                        <div class="rwp-stats__icon"><i class="fa fa-university"
                                                        aria-hidden="true"></i></div>
                    </div>
                </div>
            </a>

        </div>
    </div>


{% endblock %}
