{% extends "base.html" %}

{% load bootstrap_pagination %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "exploration" "/" %}
{% endblock%}


{% block content %}

    <h1>Badania</h1>
    {# TODO: Whats iss up?#}
    {% if object_list %}
        <div class="row">
        {% for object in object_list %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <a href="{{ object.get_absolute_url }}" class="rwp-card rwp-card__header--azure">
                    <div class="rwp-card__img">
                        <img src="http://lorempixel.com/400/200/cats/" alt="">
                    </div>
                    <div class="rwp-card__head">
                        <div class="rwp-card__header">
                            <div class="rwp-card__title">{{ object }}</div>
                        </div>
                    </div>
                    <div class="rwp-card__content">
                        {{ object.description | truncatewords:80 }}
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
        {% bootstrap_paginate page_obj %}
    {% else %}
        No result found
    {% endif %}

{% endblock %}
